.topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    padding: 1%;
    border-radius: 1cm;
width: fit-content;
float: right;

}

.topnav a{

    float: right;
    color:  rgb(255, 255, 255);
    text-align:center;
    padding: 14px 16px;
text-decoration: none;
font-size: 25px;
}

.topnav a:hover {
color: rgb(255, 255, 255);
text-decoration: underline;

}
.topnav a.active {
background-color: #20753b;
color: rgb(255, 255, 255);
border-radius: 60%;

}

.homeheading {
font-size: 2cm;
    text-decoration: underline;


}
body{ 
    background-color: rgba(226, 236, 234, 0.968);
}
.tuataraheading{

    font-size: 2cm;
}
.writhingwhy {
width: 300px;
font-size: 30px;
}
.subheadingtuatara{ 
font-size: 30px;

}
.overview{
font-size: 50px;
text-align: center;

}
.screenshot{
width: 1000px;
    
}
.tuatare-flex-display{
display: flex;
justify-content: space-between;

}

.skill1-flex-display{
display: flex;
justify-content: space-between;

}

.skill1-parpgaph{
font-size: 30px;

}